# Analyse Exploratoire des Données (EDA) - Banque Mondiale
## 1. Imports
Nous configurons l'environnement et listons les sources de données brutes.
Pour visualiser les données, nous définissons d'abord le chemin d'accès (**path**) où sont stockés les fichiers CSV. Nous récupérons ensuite la liste de ces fichiers dans une variable `all_files` en utilisant un pattern de recherche (**globbing**) avec l'extension `*.csv`.

## 2. Chargement des données
## Boucle d'itération et rendu des données
Cette étape permet de valider l'intégrité des fichiers CSV et d'obtenir un premier aperçu visuel des structures.

* **Identification** : Nous affichons le nom du fichier pour confirmer la lecture.
* **Chargement** : Le contenu est chargé dans un **DataFrame**.
* **Rendu** : Nous utilisons `display(df.head())` pour générer un rendu visuel des 5 premières entrées.

## Gestion des exceptions (Error Handling)
En cas d'erreur lors de la lecture ou de l'affichage, un bloc `try...except` permet de capturer l'exception. Le script affiche alors le nom du fichier problématique ainsi que le message d'erreur associé pour faciliter le débogage.

In [1]:
import numpy as np
import pandas as pd
import glob
import os
from IPython.display import display, Markdown

path = 'data'
all_files = glob.glob(os.path.join(path , "*.csv"))
dataframes = []

for file in all_files:
    try:
        file_name = os.path.basename(file)
        df = pd.read_csv(file)
        dataframes.append({"name": file_name, "data": df})
    except Exception as e:
        print(f"Erreur sur {file}: {e}")

In [2]:
display(Markdown(f"## Analyse du fichier : {dataframes[0]['name']}"))

## Analyse du fichier : EdStatsCountry.csv

In [3]:
print(f"--- Fichier : {dataframes[0]['name']} ---")
display(dataframes[0]['data'].head())

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,...,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN,NaN

In [4]:
display(Markdown(f"## Analyse du fichier : {dataframes[1]['name']}"))

## Analyse du fichier : EdStatsCountry-Series.csv

In [5]:
print(f"--- Fichier : {dataframes[1]['name']} ---")
display(dataframes[1]['data'].head())

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3
0,ABW,SP.POP.TOTL,Data sources : United Nations World Population...,NaN
1,ABW,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
2,AFG,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
3,AFG,NY.GDP.PCAP.PP.CD,Estimates are based on regression.,NaN
4,AFG,SP.POP.TOTL,Data sources : United Nations World Population...,NaN

In [6]:
display(Markdown(f"## Analyse du fichier : {dataframes[2]['name']}"))

## Analyse du fichier : EdStatsData.csv

In [7]:
print(f"--- Fichier : {dataframes[2]['name']} ---")
display(dataframes[2]['data'].head())

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
display(Markdown(f"## Analyse du fichier : {dataframes[3]['name']}"))

## Analyse du fichier : EdStatsFootNote.csv

In [9]:
print(f"--- Fichier : {dataframes[3]['name']} ---")
display(dataframes[3]['data'].head())

  CountryCode      SeriesCode    Year          DESCRIPTION  Unnamed: 4
0         ABW  SE.PRE.ENRL.FE  YR2001  Country estimation.         NaN
1         ABW  SE.TER.TCHR.FE  YR2005  Country estimation.         NaN
2         ABW  SE.PRE.TCHR.FE  YR2000  Country estimation.         NaN
3         ABW  SE.SEC.ENRL.GC  YR2004  Country estimation.         NaN
4         ABW     SE.PRE.TCHR  YR2006  Country estimation.         NaN

In [10]:
display(Markdown(f"## Analyse du fichier : {dataframes[4]['name']}"))

## Analyse du fichier : EdStatsSeries.csv

In [11]:
print(f"--- Fichier : {dataframes[4]['name']} ---")
display(dataframes[4]['data'].head())

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15-19 with...,Percentage of female population age 15-19 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 ...,Percentage of population age 15-19 with no edu...,Percentage of population age 15-19 with no edu...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15+ with n...,Percentage of female population age 15+ with n...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ wi...,Percentage of population age 15+ with no educa...,Percentage of population age 15+ with no educa...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 20-24 with...,Percentage of female population age 20-24 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 3. Collecte d'informations basiques sur chaque jeu de données
### EdStatsCountry.csv
* **Définition** : Une ligne représente un pays unique ou une entité géographique (ex: une région comme l'Amérique Latine).
* **Clé primaire** : `CountryCode`
* **Contenu** : Toutes les caractéristiques fixes du pays (monnaie, région, système de recensement, etc...)

### EdStatsSeries.csv
* **Définition** : Une ligne représente un indicateur statistique unique (un "Series").
* **Clé primaire** : `SeriesCode`
* **Contenu** : Les définitions, les sources et les méthodologies pour chaque type de donnée mesurée (ex: taux d'inscription scolaire).
*
### EdStatsCountry-Series.csv
* **Définition** : Une ligne représente une relation spécifique entre un pays et un indicateur.
* **Clé composite** : `CountryCode` + `SeriesCode`
* **Contenu** : Il sert de table de liaison. Il précise souvent la source de données spécifique utilisée pour cet indicateur dans ce pays précis (colonne `DESCRIPTION`).

### EdStatsFootNote.csv
* **Définition** : Une ligne représente une note de bas de page liée à une mesure spécifique.
* **Clé composite** : `CountryCode` + `SeriesCode` + `Year`
* **Contenu** : Une explication textuelle (`DESCRIPTION`) pour justifier une anomalie ou une estimation pour une année donnée.

### EdStatsData.csv
* **Définition** : Une ligne représente l'évolution historique d'un indicateur pour un pays.
* **Clé composite** : `CountryCode` + `IndicatorCode`
* **Contenu** : Contrairement aux autres, ce fichier est "large" : il contient les valeurs numériques pour chaque année de 1970 à 2100 sur la même ligne.

In [12]:
display(Markdown(f"## Analyse du fichier : {dataframes[0]['name']}"))

## Analyse du fichier : EdStatsCountry.csv

In [13]:
rows, columns = dataframes[0]['data'].shape
print(f"Rows: {rows}, Columns: {columns}")
display(Markdown(f" Le fichier : {dataframes[0]['name']} comprend {rows} lignes et {columns} colonnes"))

 Le fichier : EdStatsCountry.csv comprend 241 lignes et 32 colonnes

In [14]:
duplicate_count = dataframes[0]['data'].duplicated().sum()
display(Markdown(f" Le fichier : {dataframes[0]['name']} posséde {duplicate_count} lignes dupliqués"))

 Le fichier : EdStatsCountry.csv posséde 0 lignes dupliqués

In [15]:
if duplicate_count > 0:
    dataframes[0]['data'] = dataframes[0]['data'].drop_duplicates()

Calcul du pourcentage de valeurs manquantes par colonnes et affichage dans un nouveau dataframe trié par pourcentage décroissant.

In [16]:
percent_missing = dataframes[0]['data'].isnull().sum() * 100 / len(dataframes[0]['data'])
missing_value = pd.DataFrame({'column_name' : dataframes[0]['data'].columns, 'percent_missing' : percent_missing}).sort_values(by='percent_missing', ascending=False)
display(missing_value)

,column_name,percent_missing
Unnamed: 31,Unnamed: 31,100.000000
National accounts reference year,National accounts reference year,86.721992
Alternative conversion factor,Alternative conversion factor,80.497925
Other groups,Other groups,75.933610
Latest industrial data,Latest industrial data,55.601660
Vital registration complete,Vital registration complete,53.941909
External debt Reporting status,External debt Reporting status,48.547718
Latest household survey,Latest household survey,41.493776
Latest agricultural census,Latest agricultural census,41.078838
Lending category,Lending category,40.248963
PPP survey year,PPP survey year,39.834025
Special Notes,Special Notes,39.834025
Source of most recent Income and expenditure data,Source of most recent Income and expenditure data,33.609959
Government Accounting concept,Government Accounting concept,33.195021
Latest water withdrawal data,Latest water withdrawal data,25.726141
IMF data dissemination standard,IMF data dissemination standard,24.896266
Balance of Payments Manual in use,Balance of Payments Manual in use,24.896266
Latest trade data,Latest trade data,23.236515
SNA price valuation,SNA price valuation,18.257261
System of trade,System of trade,17.012448
National accounts base year,National accounts base year,14.937759
Latest population census,Latest population census,11.618257
Region,Region,11.203320
Income Group,Income Group,11.203320
Currency Unit,Currency Unit,10.788382
System of National Accounts,System of National Accounts,10.788382
2-alpha code,2-alpha code,1.244813
WB-2 code,WB-2 code,0.414938
Long Name,Long Name,0.000000
Short Name,Short Name,0.000000
Table Name,Table Name,0.000000
Country Code,Country Code,0.000000

Néttoyage des collones atteignant 100% de valeurs manquantes

In [17]:
dataframes[0]['data'] = dataframes[0]['data'].dropna(axis=1, how='all')
display(dataframes[0]['data'].head())

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,...,Budgetary central government,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN

In [18]:
numeric_df = dataframes[0]['data'].select_dtypes(include=['number'])

if not numeric_df.empty:
    dataframes[0]['data'] = dataframes[0]['data'].dropna(how='all')
    display(dataframes[0]['data'].head())
else :
    display(Markdown(f" Le fichier : {dataframes[1]['name']} ne posséde pas de valeur numérique"))

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,...,Budgetary central government,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN

In [19]:
df_source = dataframes[0]['data']
categorical_results = {}

cat_col = dataframes[0]['data'].select_dtypes(include=['object', 'string']).columns
x = 0
for col in cat_col:
    categorical_results[col] = df_source[col].value_counts()
    print(f"--- COLONNE : {col} ---")
    print(categorical_results[cat_col[x]].head())
    print("-" * 40)
    x = x + 1

--- COLONNE : Country Code ---
Country Code
ABW    1
AFG    1
AGO    1
ALB    1
AND    1
Name: count, dtype: int64
----------------------------------------
--- COLONNE : Short Name ---
Short Name
Aruba          1
Afghanistan    1
Angola         1
Albania        1
Andorra        1
Name: count, dtype: int64
----------------------------------------
--- COLONNE : Table Name ---
Table Name
Aruba          1
Afghanistan    1
Angola         1
Albania        1
Andorra        1
Name: count, dtype: int64
----------------------------------------
--- COLONNE : Long Name ---
Long Name
Aruba                           1
Islamic State of Afghanistan    1
People's Republic of Angola     1
Republic of Albania             1
Principality of Andorra         1
Name: count, dtype: int64
----------------------------------------
--- COLONNE : 2-alpha code ---
2-alpha code
AW    1
AF    1
AO    1
AL    1
AD    1
Name: count, dtype: int64
----------------------------------------
--- COLONNE : Currency Unit ---
Currency Unit
Euro                     23
U.S. dollar              14
CFA franc                14
East Caribbean dollar     6
Australian dollar         3
Name: count, dtype: int64
----------------------------------------
--- COLONNE : Special Notes ---
Special Notes
April 2012 database update: Based on official government statistics, national accounts data were revised for 2000 onward; the base year changed to 2006.    6
Fiscal year end: March 31; reporting period for national accounts data: CY.                                                                                 4
Fiscal year end: June 30; reporting period for national accounts data: CY.                                                                                  3
Fiscal year end: June 30; reporting period for national accounts data: FY.                                                                                  2
April 2013 database update: Based on IMF data, national accounts data were revised for 2000 onward; the base year changed to 2000.                          2
Name: count, dtype: int64
----------------------------------------
--- COLONNE : Region ---
Region
Europe & Central Asia         57
Sub-Saharan Africa            48
Latin America & Caribbean     41
East Asia & Pacific           36
Middle East & North Africa    21
Name: count, dtype: int64
----------------------------------------
--- COLONNE : Income Group ---
Income Group
Upper middle income     55
Lower middle income     50
High income: nonOECD    44
Low income              34
High income: OECD       31
Name: count, dtype: int64
----------------------------------------
--- COLONNE : WB-2 code ---
WB-2 code
AW    1
AF    1
AO    1
AL    1
AD    1
Name: count, dtype: int64
----------------------------------------
--- COLONNE : National accounts base year ---
National accounts base year
2005                                                  34
Original chained constant price data are rescaled.    28
2000                                                  25
2006                                                  19
1990                                                  11
Name: count, dtype: int64
----------------------------------------
--- COLONNE : SNA price valuation ---
SNA price valuation
Value added at basic prices (VAB)       163
Value added at producer prices (VAP)     34
Name: count, dtype: int64
----------------------------------------
--- COLONNE : Lending category ---
Lending category
IBRD     67
IDA      59
Blend    18
Name: count, dtype: int64
----------------------------------------
--- COLONNE : Other groups ---
Other groups
HIPC         40
Euro area    18
Name: count, dtype: int64
----------------------------------------
--- COLONNE : System of National Accounts ---
System of National Accounts
Country uses the 1993 System of National Accounts methodology.    165
Country uses the 1968 System of National Accounts methodology.     42
Country uses the 2008 System of National Accounts methodology.      8
Name: count, dtype: int64
----------------------------------------
--- COLONNE : Alternative conversion factor ---
Alternative conversion factor
1990–95    8
1987–95    5
1993       3
1992–95    2
1991       2
Name: count, dtype: int64
----------------------------------------
--- COLONNE : PPP survey year ---
PPP survey year
2005       98
Rolling    37
2011       10
Name: count, dtype: int64
----------------------------------------
--- COLONNE : Balance of Payments Manual in use ---
Balance of Payments Manual in use
IMF Balance of Payments Manual, 6th edition.    181
Name: count, dtype: int64
----------------------------------------
--- COLONNE : External debt Reporting status ---
External debt Reporting status
Actual         107
Estimate        11
Preliminary      6
Name: count, dtype: int64
----------------------------------------
--- COLONNE : System of trade ---
System of trade
General trade system    106
Special trade system     94
Name: count, dtype: int64
----------------------------------------
--- COLONNE : Government Accounting concept ---
Government Accounting concept
Consolidated central government    95
Budgetary central government       66
Name: count, dtype: int64
----------------------------------------
--- COLONNE : IMF data dissemination standard ---
IMF data dissemination standard
General Data Dissemination System (GDDS)      110
Special Data Dissemination Standard (SDDS)     71
Name: count, dtype: int64
----------------------------------------
--- COLONNE : Latest population census ---
Latest population census
2011    59
2010    49
2012    18
2009    14
2008     9
Name: count, dtype: int64
----------------------------------------
--- COLONNE : Latest household survey ---
Latest household survey
Multiple Indicator Cluster Survey (MICS), 2012    10
World Health Survey (WHS), 2003                   10
Demographic and Health Survey (DHS), 2013         10
Multiple Indicator Cluster Survey (MICS), 2011     9
Multiple Indicator Cluster Survey (MICS), 2010     9
Name: count, dtype: int64
----------------------------------------
--- COLONNE : Source of most recent Income and expenditure data ---
Source of most recent Income and expenditure data
Integrated household survey (IHS), 2012           15
Integrated household survey (IHS), 2010            9
Integrated household survey (IHS), 2011            9
Integrated household survey (IHS), 2008            7
Expenditure survey/budget survey (ES/BS), 2012     7
Name: count, dtype: int64
----------------------------------------
--- COLONNE : Vital registration complete ---
Vital registration complete
Yes                                                 110
Yes. Vital registration for Guernsey and Jersey.      1
Name: count, dtype: int64
----------------------------------------
--- COLONNE : Latest agricultural census ---
Latest agricultural census
2010    36
2007    16
2013    13
2012    10
2011     9
Name: count, dtype: int64
----------------------------------------
--- COLONNE : Latest water withdrawal data ---
Latest water withdrawal data
2000    40
2005    40
2007    18
2002    16
2009    12
Name: count, dtype: int64
----------------------------------------

In [20]:
display(Markdown(f"## Analyse du fichier : {dataframes[1]['name']}"))

## Analyse du fichier : EdStatsCountry-Series.csv

In [21]:
rows, columns = dataframes[1]['data'].shape
print(f"Rows: {rows}, Columns: {columns}")
display(Markdown(f" Le fichier : {dataframes[1]['name']} comprend {rows} lignes et {columns} colonnes"))

 Le fichier : EdStatsCountry-Series.csv comprend 613 lignes et 4 colonnes

In [22]:
duplicate_count = dataframes[1]['data'].duplicated().sum()
display(Markdown(f" Le fichier : {dataframes[1]['name']} posséde {duplicate_count} lignes dupliqués"))

 Le fichier : EdStatsCountry-Series.csv posséde 0 lignes dupliqués

In [23]:
if duplicate_count > 0:
    dataframes[1]['data'] = dataframes[1]['data'].drop_duplicates()

In [24]:
percent_missing = dataframes[1]['data'].isnull().sum() * 100 / len(dataframes[1]['data'])
missing_value = pd.DataFrame({'column_name' : dataframes[1]['data'].columns, 'percent_missing' : percent_missing}).sort_values(by='percent_missing', ascending=False)
display(missing_value)

             column_name  percent_missing
Unnamed: 3    Unnamed: 3            100.0
CountryCode  CountryCode              0.0
SeriesCode    SeriesCode              0.0
DESCRIPTION  DESCRIPTION              0.0

In [25]:
dataframes[1]['data'] = dataframes[1]['data'].dropna(axis=1, how='all')
display(dataframes[1]['data'].head())

,CountryCode,SeriesCode,DESCRIPTION
0,ABW,SP.POP.TOTL,Data sources : United Nations World Population...
1,ABW,SP.POP.GROW,Data sources: United Nations World Population ...
2,AFG,SP.POP.GROW,Data sources: United Nations World Population ...
3,AFG,NY.GDP.PCAP.PP.CD,Estimates are based on regression.
4,AFG,SP.POP.TOTL,Data sources : United Nations World Population...

In [26]:
numeric_df = dataframes[1]['data'].select_dtypes(include=['number'])

if not numeric_df.empty:
    dataframes[1]['data'] = dataframes[1]['data'].dropna(how='all')
    display(dataframes[1]['data'].head())
else :
    display(Markdown(f" Le fichier : {dataframes[1]['name']} ne posséde pas de valeur numérique"))

 Le fichier : EdStatsCountry-Series.csv ne posséde pas de valeur numérique

In [27]:
df_source = dataframes[1]['data']
categorical_results = {}

cat_col = dataframes[1]['data'].select_dtypes(include=['object', 'string']).columns
x = 0
for col in cat_col:
    categorical_results[col] = df_source[col].value_counts()
    print(f"--- COLONNE : {col} ---")
    print(categorical_results[cat_col[x]].head())
    print("-" * 40)
    x = x + 1

--- COLONNE : CountryCode ---
CountryCode
GEO    18
MDA    18
CYP    12
MAR    12
MUS    12
Name: count, dtype: int64
----------------------------------------
--- COLONNE : SeriesCode ---
SeriesCode
SP.POP.TOTL          211
SP.POP.GROW          211
NY.GDP.PCAP.PP.CD     19
NY.GDP.PCAP.PP.KD     19
NY.GNP.PCAP.PP.CD     19
Name: count, dtype: int64
----------------------------------------
--- COLONNE : DESCRIPTION ---
DESCRIPTION
Data sources : United Nations World Population Prospects                154
Data sources: United Nations World Population Prospects                 137
Estimates are based on regression.                                       84
Data sources : Eurostat                                                  54
Derived using ratio of age group from WPP and World Bank population.     24
Name: count, dtype: int64
----------------------------------------

In [28]:
display(Markdown(f"## Analyse du fichier : {dataframes[2]['name']}"))

## Analyse du fichier : EdStatsData.csv

In [29]:
rows, columns = dataframes[2]['data'].shape
print(f"Rows: {rows}, Columns: {columns}")
display(Markdown(f" Le fichier : {dataframes[2]['name']} comprend {rows} lignes et {columns} colonnes"))

 Le fichier : EdStatsData.csv comprend 886930 lignes et 70 colonnes

In [30]:
duplicate_count = dataframes[2]['data'].duplicated().sum()
display(Markdown(f" Le fichier : {dataframes[2]['name']} posséde {duplicate_count} lignes dupliqués"))

 Le fichier : EdStatsData.csv posséde 0 lignes dupliqués

In [31]:
if duplicate_count > 0:
    dataframes[2]['data'] = dataframes[2]['data'].drop_duplicates()

In [32]:
percent_missing = dataframes[2]['data'].isnull().sum() * 100 / len(dataframes[2]['data'])
missing_value = pd.DataFrame({'column_name' : dataframes[2]['data'].columns, 'percent_missing' : percent_missing}).sort_values(by='percent_missing', ascending=False)
display(missing_value)

                   column_name  percent_missing
Unnamed: 69        Unnamed: 69       100.000000
2017                      2017        99.983877
2016                      2016        98.144160
1971                      1971        95.993258
1973                      1973        95.992356
...                        ...              ...
2010                      2010        72.665036
Country Code      Country Code         0.000000
Indicator Code  Indicator Code         0.000000
Indicator Name  Indicator Name         0.000000
Country Name      Country Name         0.000000

[70 rows x 2 columns]

In [33]:
dataframes[2]['data'] = dataframes[2]['data'].dropna(axis=1, how='all')
display(dataframes[2]['data'].head())

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
numeric_df = dataframes[2]['data'].select_dtypes(include=['number'])

if not numeric_df.empty:
    dataframes[2]['data'] = dataframes[2]['data'].dropna(how='all')
    display(dataframes[2]['data'].head())
else :
    display(Markdown(f" Le fichier : {dataframes[2]['name']} ne posséde pas de valeur numérique"))

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df_source = dataframes[2]['data']
categorical_results = {}

cat_col = dataframes[2]['data'].select_dtypes(include=['object', 'string']).columns
x = 0
for col in cat_col:
    categorical_results[col] = df_source[col].value_counts()
    print(f"--- COLONNE : {col} ---")
    print(categorical_results[cat_col[x]].head())
    print("-" * 40)
    x = x + 1

--- COLONNE : Country Name ---
Country Name
Arab World                                     3665
East Asia & Pacific                            3665
East Asia & Pacific (excluding high income)    3665
Euro area                                      3665
Europe & Central Asia                          3665
Name: count, dtype: int64
----------------------------------------
--- COLONNE : Country Code ---
Country Code
ARB    3665
EAS    3665
EAP    3665
EMU    3665
ECS    3665
Name: count, dtype: int64
----------------------------------------
--- COLONNE : Indicator Name ---
Indicator Name
Adjusted net enrolment rate, lower secondary, both sexes (%)               242
Adjusted net enrolment rate, lower secondary, female (%)                   242
Adjusted net enrolment rate, lower secondary, gender parity index (GPI)    242
Adjusted net enrolment rate, lower secondary, male (%)                     242
Adjusted net enrolment rate, primary, both sexes (%)                       242
Name: count, dtype: int64
----------------------------------------
--- COLONNE : Indicator Code ---
Indicator Code
UIS.NERA.2        242
UIS.NERA.2.F      242
UIS.NERA.2.GPI    242
UIS.NERA.2.M      242
SE.PRM.TENR       242
Name: count, dtype: int64
----------------------------------------